<div class="container">
  <h1 class="text-center mt-4">Wish Lists</h1>
  <div class="d-flex justify-content-center">
    <%= link_to new_wish_list_path, class: 'btn btn-success mt-3 mb-3' do %>
      <i class="fas fa-plus"></i> Wish list
    <% end %>
  </div>
  <div class="row">
    <% @wishlists.each do |wishlist| %>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="card-body">
            <%= link_to wish_list_path(wishlist), class: "text-decoration-none" do %>
              <h5 class="card-title"><%= wishlist.title %></h5>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
