<nav class="navbar navbar-inverse">
  <div class="container-fluid justify-content-between">
    <%= link_to authenticated_root_path do %>
      <i class="fa-solid fa-arrow-left-long fa-lg text-dark"></i>
    <% end %>
    <a class="navbar-brand"><strong>Wishlists</strong></a>
    <%= link_to new_wish_list_path do %>
      <i class="fas fa-plus fa-lg text-dark"></i>
    <% end %>
  </div>
</nav>

<div class="container">
  <div class="row">
    <% @wishlists.each do |wishlist| %>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="card">
          <div class="card-body">
            <%= link_to wish_list_path(wishlist), class: "text-decoration-none" do %>
              <h5 class="card-title"><%= wishlist.title %></h5>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
