
  <div id="carouselExampleCaptions" class="carousel carousel-captions slide" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active img-fluid" data-bs-interval="9000">
      <%= image_tag"carousel1.jpg", class: "d-block w-100 object-fit-cover carousel-img " %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Take care of your bestfriend!</h5>
        <p>Everything you need in one place.</p>
      </div>
    </div>
    <div class="carousel-item img-fluid" data-bs-interval="5000">
      <%= image_tag"carousel2.jpg", class: "d-block w-100 object-fit-cover carousel-img" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>All they need is you love</h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item img-fluid">
      <%= image_tag"carousel3.jpg", class: "d-block w-100 object-fit-cover carousel-img" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>Your pet deserve the best</h5>
        <p></p>
      </div>
    </div>
  </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</div>
<div class="img-home img-dog">
  <%= image_tag "dogeye.png", class: "d-flex align-items-center w-100" %>
</div>