<div class="container">
  <h1 class="text-center">Guardando momentos especiais na vida do seu melhor amigo</h1>
  <div class="d-flex justify-content-center align-items-center">
    <%= image_tag "catedog.jpg", class: "img-fluid" %>
  </div>
</div>
