.about-us {
  text-align: center;
}

.about-us h2 {
  font-size: 2em;
  margin-bottom: 15px;
  font-weight: bold;
}

.about-us p {
  font-size: 1.2em;
}

.about-us ul {
  list-style-type: none;
  padding: 0;
}


.about-us li {
  display: inline-block;
}

.about-us a {
  color: #ccc;
  text-decoration: none;
}



.card-about{
  background: linear-gradient(45deg, #a559d19d 0%, #F16767 100%);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color:#F5EAEA;
}
