.btn-back {
  padding: 10px;
  background-color: #F5EAEA;
  width: 50%;
  color: black;
  border: none;
  box-shadow: #F16767 0px 10px 10px -5px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-back:hover {
  background-color: #F5EAEA;
  color: white;
  box-shadow: #F16767 0px 10px 10px -5px;
}

.btn-product{
text-align: center;
  width: 75%;
  font-weight: bold;
  background: linear-gradient(45deg, #F5EAEA 0%, #A459D1 100%); /* Alterado para usar as cores da paleta */
  color: white;
  padding: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    color: #F5EAEA;
  }
  text-decoration: none;
}
