.form-container {
  max-width: 350px;
  background: #F5EAEA; /* Alterado para a primeira cor da paleta */
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid #F5EAEA; /* Alterado para a primeira cor da paleta */
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
  margin: 20px;
  margin: auto;
  margin-top: 2%;
}

.heading {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  color: #A459D1; /* Alterado para a quarta cor da paleta */
}

.form .input {
  width: 100%;
  background: #F5EAEA; /* Alterado para a segunda cor da paleta */
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #F16767 0px 10px 10px -5px; /* Alterado para a terceira cor da paleta */
}

.form .input:focus {
  outline: none;
  border: 2px solid #12B1D1; /* Alterado para a primeira cor da paleta */
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg, #F5EAEA 0%, #A459D1 100%); /* Alterado para usar as cores da paleta */
  color: white;
  padding: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}
