
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  vertical-align: sub;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #F16767;
  padding: 0;
  margin: 0;
}


.logo-font{
  font-family : 'Pet';
  font-size: 42px;
  color: #F5EAEA;
}

.text-navbar{
  color: #F5EAEA ;
  text-decoration: none;
  &:hover{
    color: #FFB84C;
    transition: .3s ease-in-out;
  }
}

.navbar-inverse{
  li {
    list-style-type: none;
  }
}
