.navbar-lewagon {
  justify-content: space-between;
  background: #DEFCF9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}
body{
  background-color: #C3BEF0;
}

.logo-font{
  font-family : 'Pet';
  font-size: 38px;
}
