
<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid justify-content-between">
      <%= link_to wish_list_path(@wishlist) do %>
        <i class="fa-solid fa-arrow-left-long fa-lg heading"></i>
      <% end %>
      <h2 class="text-center my-2 heading">Product search</h2>
      <p></p>
    </div>
  </nav>

  <%= form_with url: "/wish_lists/#{@wishlist.id}/searchweb", method: :get, class: "d-flex mb-0 my-5" do |form| %>
    <div class="input-group mx-2">
      <%= form.text_field :search, class: "form-control mx-1", placeholder: "Search a product in the web..." %>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
  <% end %>
</div>

<div class="img-search d-flex justify-content-center  fixed-bottom">
  <%= image_tag "search-dog.png" %>
</div>

